numpy==1.26.4
pandas==2.2.2

# Se usar servidor web:
# gunicorn==22.0.0

# Se for DASH:
# dash==2.17.1

# Se for STREAMLIT:
# streamlit==1.36.0

# Extras comuns:
# opencv-python-headless==4.10.0.84
# psycopg2-binary==2.9.9
